/*
 * @Author: jecyu 
 * @Date: 2018-01-03 23:02:11 
 * @Last Modified by: jecyu
 * @Last Modified time: 2018-01-04 23:25:30
 */
@import "utilities/_mixin.scss";
$base_color: #3f9395;

.navbar {
    height: pxTorem(40px);
    background: rgba($color: $base_color, $alpha: 0.6);
}

.nav-brand {
    img {
        height: pxTorem(40px);
        width: pxTorem(40px);
    }
}
