<!DOCTYPE html>
<html lang="en">

<head>
    @@include('common/head.html')
    <link rel="stylesheet" href="../css/index.css">
    <title>花森动漫</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a href="index.html" class="nav-brand">
                <img src="../images/logo.png" alt="Brand">
            </a>
            <div class="navbar-items">
                <a class="navbar-item" href="###">
                    <div class="navbar-label">游戏</div>
                    <!-- <i class="fa fa-angle-down" aria-hidden="true"></i> -->
                </a>
            </div>
            </div>
        </nav>
    </header>
    <main>
        <section>

        </section>
    </main>
    <footer>
    </footer>
    @@include('common/foot.html')
</body>

</html>